<ul class="messages" data-chat-id="<%= @chat.id %>">
  <% @chat.messages.each do |message| %>
    <li data-message-id="<%= message.id %>"><%= message.user.identifier %>: <%= message.body %></li>
  <% end %>
</ul>
<%= form_for([@chat, Chitchat::Message.new], remote: true) do |form| %>
  <label>Identifier</label>
  <%= text_field_tag(:user) %>
  <br/>
  <label>Body</label>
  <%= text_field_tag :body %>
  <br/>
  <%= form.submit %>
<% end %>
